/* Header */
.header {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  /* List */
  .list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .list li {
    border: 1px solid #410303;
    padding: 10px;
    margin-bottom: 5px;
  }
  .list li:hover {
    background-color: #eee;
  }
  /* Button */
  .button {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  .button:hover {
    background-color: #ee0c0c;
  }